name: "ADC Test Monitoring"
version: "1.0.2"
slug: "ADC_github"
description: "Add-on for monitoring ADC"
arch:
  - armhf
  - armv7
  - aarch64
  - amd64
  - i386
startup: "services"
ingress: false
#panel_icon: "mdi:chart-line"  

host_network: true
map:
  - spi
  - config
  - dev

devices:
  - /dev/spidev1.1:/dev/spidev1.1
  - /dev/spidev1.0:/dev/spidev1.0
  - /dev/ttyAMA2:/dev/ttyAMA2
